/* src/App.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #85c8f5;
  padding: 10px;
  color: #fff;
}

.logo {
  height: 40px;
  width: auto;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 5px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px; /* Adjust as needed */
    left: 0;
    background-color: #fff;
    z-index: 1;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 0;
    text-align: center;
  }
}
/* src/App.css */

.nav-links a {
  padding: 15px;
  display: block;
  color: #333; /* Add this line to set the link text color to white */
  text-decoration: none;
}

/* Hide menu toggle on larger screens */
@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 20px;
  }
}

/* ... (Footer styles) ... */

/* src/App.css */

/* ... (existing styles) ... */

.footer {
  background-color: #85c8f5;
  color: #333;
  padding: 20px;
  text-align: center;
  position: fixed; /* or position: absolute; */
  bottom: 0;
  width: 100%;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.social-links a img {
  width: 30px; /* Adjust the size of social media icons */
  height: 30px;
}
